@import '../../styles/colors';
@import '../../styles/fonts';

.Header {
    display: flex;
    align-items: center;
    text-align: center;
    min-width: 100%;
    justify-content: space-between;
    .user-container {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 1rem;
        .user-avatar {
            border: 3px solid $clr-contrast;
            width: 40px;
            aspect-ratio: 1;
            border-radius: 50%;
        }
        .username {
            color: $clr-contrast;
            font-weight: 600;
            font-size: 20px;
            cursor: pointer;
            text-shadow: 0px 0px 15px #c6a2ff;
        }
    }
}

.title {
    font-size: 30px;
    font-weight: 100;
    color: $clr-contrast;
    font-family: $fnt-main;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 5px;
    position: relative;
    text-shadow: 0px 0px 15px #c6a2ff;
    // background-color: rgba(#c6a2ff, 0.1);
    box-shadow: 0px 0px 25px 0px #c6a2ff, inset 0px 0px 15px 0px #c6a2ff;
    border-radius: 5px;
    border: 3px solid $clr-light;
    padding: 1rem;
}

.functional-menu {
    display: flex;
    gap: 5rem;
    color: $clr-contrast;
    color: $clr-dark;
    font-weight: 500;
    font-size: 20px;
}

